---
layout: default
title: memero
---

<ul class="releases">
  {% for post in site.posts %}         
    <li class="release" id="{{ post.int-id }}">
      <article>
        {% if post.download.size > 0 %}
        {% for download in post.download limit:1 %}
        <a href="{{ download.url }}">
          <header>
            <h1 class="title">{{ post.title }} <span class="date">{{ post.date | date: "%B, %Y" }} FREE DOWNLOAD</span></h1>
            <div class="download-link">
            </div>
            <img src="{{ post.image-url }}" alt="{{ post.image-url }}" class="cover" />
          </header>
          <section>
<!--          {% for song in post.tracks %}-->
<!--            <p>{{ song.name }} - {{ song.duration }}</p>-->
<!--            <p>{{ song.audio }}</p>-->
<!--            <p>{{ song.wave }}</p>-->
<!--          {% endfor %}-->
          </section>
        </a>
        {% endfor %}
        {% endif %}            

      </article>      
    </li>   
  {% endfor %}
</ul>

